*{
	padding:0;
	margin:0;
}

.right-menu li {
	display: inline-block;
	margin-top:30px !important;
}

.right-menu li .fa {
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}

.header {
	background: #f5f6fc;
	margin-bottom: 80px;
}

.navbar {
	padding: 0 35px !important;
}

.navbar-toggler {
	border: none;
	outline: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

..navbar-toggler .fa {
	font-size: 30px;
	cursor: pointer;
}

.banner-img {
	margin: 80px 115px;
	width: 60%;
}

.banner-img img {
	width: 100%;
	margin-bottom: -80px;
}

.banner {
	position: relative;
}

.banner-title {
	position: absolute;
	left: 50%;
	top: 20%;
}

.banner-title {
	font-size: 55px;
	background: rgba(0,0,0,.75);
	color:#fff;
	line-height: 70px;
	padding: 0 10px 0 10px;
}

/*--------------fashion trends----------*/

.fashion-trends {
	padding: 100px 0;
}

.fashion-box {
	margin:80px 0 ;
}

.title-style h1 {
	padding: 40px 0;
}

.title-style {
	margin: 0 auto 80px;
	height: 120px;
	width: 80%;
	max-width: 700px;
	position: relative;
	box-shadow: 0 4px 5px rgba(0,0,50,0.5);
	background: #fff;
}

.title-style::after {
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
}

.title-style::before {
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1;
}

.trending-img {
	position: relative;
	margin-bottom: 15px;
}

.trending-img img {
	width: 100%;
}

.btn-buy {
	width: 150px;
	padding: 10px 0;
	outline: none !important;
	border: 0;
	position: absolute;
	border-radius: 2px;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
	background: #fff;
	transition: .6s;
	opacity: 0;
	z-index: 1;
}

.trending-img:hover .btn-buy {
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity: 1;
}

.overlay {
	height: 100%;
	width: 100%;
	background: #333;
	position: absolute;
	top:0;
	opacity: 0;
	transition: .5s;
}

.trending-img:hover .overlay {
	opacity: .5;
	height: 100%;
}

/*---------Offer---------*/
.offer {
	background-image: url(img/banner.jpg);
	background-size: cover;
	background-position: center;
}

.row {
	margin: initial !important;
}

.subscribe {
	max-width: 500px;
	margin-top: 80px;
	padding: 60px;
	background: #ffffff8c;
	margin-bottom: 20px;
}

.subscribe a{
	width: 100px;
	display: block;
	color: #fff !important;
	background: #000;
	text-decoration: none;
	text-align: center;
}

.offer img {
	width: 300px;
	height: 400px;
	margin-bottom: -100px;
	margin-top: 150px;
}

/*--------------Latest Blog--------*/
.fashion-blog {
	margin-top: 200px;
}

.blog-img {
	margin-top: 50px;
	height: 300px;
	width: 300px;
	display: inline-block;
	opacity: .5;
	transition: .4s;
}

.blog-img img {
	width: 100%;
	height: 100%;
}

.fashion-blog h5 {
	margin-top: 20px;
	font-weight: bold;
}

.blog-img:hover {
	opacity: 1;
	transition: .5s;
} 


/*-------------Fashion Brands---------*/

.fashion-brands {
	margin-bottom: 150px;
}

.brand-logo {
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius: 50%;
	margin: 50px auto 30px;
	box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);
}

.brand-logo img {
	width: 100px;
	margin: 50px auto;
}

.fashion-brands p {
	margin-top:30px;
	font-weight: bold;
}


/*--------------Foooter--------*/
.footer {
	margin-top: 150px;
	background: #f5f6fc;
}

.payment, .insta-img, .app-download {
	margin: 50px auto;
}

.payment img {
	width: 300px;
	cursor: pointer;
}

.insta-img img {
	width: 75px;
	height: 75px;
	padding: 5px;
	cursor: pointer;
}

.app-download img {
	width: 200px;
}

.footer h5 {
	margin-bottom: 50px;
}

.footer h5::before {
	content: '';
	width: 70px;
	height: 3px;
	background: #4f74e8;
	top: 80px;
	position: absolute;
}

.footer-icons {
	text-align: left;
}

.footer-icons .fa {
	margin: 0 10px auto;
	font-size: 20px;
	cursor: pointer;
}

/*---------------for small device------*/

@media only screen and (max-width:900px) {
	.banner-img {
		margin: 40px auto;
		width: 60%;
	}
	.banner-title {
		top: 150px;
		left: 50%;
		transform: translate(-50%);
	}
	.banner-title h1 {
		font-size: 16px;
		padding: 5px;
		line-height: 20px;
	}
	.title-style h1 {
		font-size: 25px;
	}
	.offer img {
		margin-top: 20px !important;
		margin-bottom: 0 !important; 
	}
	.footer-icons {
		text-align: center;
	}
	.copyright {
		text-align: center;
	}
}