body {
	margin: 0;
	padding: 0;
}

.lightblue {
	background-color: #888;
}

.social-bar {
	text-align: right;
	width: 100%;
	height: 3%;
}

.container-fluid .row .col-md-3 h1,p {
	font-family: arial;
}

.col-md-8 img {
	width: 700px;
	height: 150px;
}


.bcolor {
	background-color: aliceblue;
}

.border-2 {
	border: 1px dotted lightgray;
	border-radius: 3px;
	box-shadow: 0px 1px 2px #000;
}

.black {
	background-color: #999;
}

.white {
	color: #fff;
}

.footer {
	background-color: #444;
	color: #fff;
}
